body {
  font-family: Verdana, sans-serif;
}

p {
  color: #FFFFFF;
  font-size: 18px;
}

body.darkback {
  background: #001F3F;
}

form.formbox {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #FFFFFF;
  text-align: center;
}

.formbox h1 {
  color: #001F3F;
  text-transform: uppercase;
  font-weight: 500;
}

.formbox input#elements {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #001F3F;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: #001F3F;
  border-radius: 24px;
  transition: 0.25s;
}

.formbox input#elements:focus {
  width: 280px;
}

.formbox input#check {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #001F3F;
  padding: 14px 40px;
  outline: none;
  color: #001F3F;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.formbox input#check:hover {
  color: #FFFFFF;
  background: #001F3F;
}

body.lightback {
  background: #173F5F;
}

nav.menu {
  font-size: 12px;
  position: fixed;
  margin-top: 10%;
}

nav.menu li {
  background: #001F3F;
  border-left: 5px solid #FFFFFF;
  display: block;
  width: 150px;
  height: 30px;
  margin: 2px 0;
}

nav.menu li:hover {
  background-color: #173F5F;
  border-left: 5px solid #001F3F;
}

nav.menu li a {
  color: #FFFFFF;
  display: block;
  font-weight: bold;
  line-height: 30px;
  padding-left: 15px;
  text-decoration: none;
  width: 135px;
  height: 30px;
}

main.forumbox {
  background: #001F3F;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

.forumbox h1 {
  color: #FFFFFF;
  text-align: center;
}

div.questionbox {
  border: 2px solid #FFFFFF;
  padding: 2%;
  background: #173F5F;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}

textarea[name="inputquestion"] {
  width: 98.8%;
  height: 10%;
}

input#submit {
  background: #001F3F;
  display: block;
  text-align: center;
  border: 2px solid #001F3F;
  padding: 10px 20px;
  outline: none;
  color: #FFFFFF;
  border-radius: 14px;
  transition: 0.25s;
  cursor: pointer;
  margin-top: 2px;
}

input#submit:hover {
  background: #FFFFFF;
  color: #001F3F;
}

div.displayinput {
  border: 2px solid #FFFFFF;
  padding: 2%;
  background: #173F5F;
  margin: 2%;
  display: block;
  padding-bottom: 7%;
}

p#user {
  margin-left: 2%;
  margin-right: 2%;
  min-width: 5%;
  text-align: left;
  border-bottom: 1px solid #FFFFFF;
}

p#txt {
  margin-left: 4%;
}

input[name="addanswer"] {
  margin-right: 3%;
  margin-bottom: 5%;
  float: right;
}